
<div class="container">


{% macro displayNewsList(news_list) %}

{% for source in news_list %}

<div class="thumbnail">
<li class="list-group-item" style="background-color: grey;font-size:large">
    <h4 class="text-center">
        <div class="card-header">
        {{ source.name }}
    </div>
    </h4>
    <hr>
    <p>{{source.description}}</p>
   <a class="text-center" style = "color:maroon"target="_blank" href="/headlines/{{ source.id }}">
       {{ source.name }}</a>
</li>
</div>
{% endfor %}

{% endmacro %}


{% macro displayHeadlinesList(headlines_list) %}

{% for headline in headlines_list %}

<li>
    <img src="{{ headline.urlToImage }}">
    <h4> {{ headline.title}} </h4>
    <p>{{ headline.description }}</p>
    <p>Published {{ headline.publishedAt }}</small></p>
    <a href="{{ headline.url }}" class="btn btn-primary">FULL STORY</a>
 </li>
<br>

{% endfor %}

{% endmacro %}
</div>
